.paragraph--red {
  @apply text-primary-red;
  @apply font-neo;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-weight: 400;
  line-height: clamp(13.52px, 1.4082432vw, 54.08px);
}

.paragraph--white {
  @apply text-primary-light;
  @apply font-neolight;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-weight: 400;
  line-height: clamp(13.52px, 1.4082432vw, 54.08px);
}
