.reviews_screen {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	@apply mb-12;

	&__upper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		// justify-content: space-between;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		gap: 32px;
		margin: auto;
	}
}

.swiper {
	width: 100%;
	@apply ml-10;

	&__slide {
		width: clamp(225px, 450 / 1920 * 100vw, 900px) !important;
	}
}
