.service_card {
  position: relative;
  width: clamp(250px, 26.04vw, 1000px);
  height: clamp(248.5px, 25.883760000000002vw, 994px);
  box-shadow: 16px 16px #bf2316;
  @apply bg-primary-dark;

  &__number {
    font-size: clamp(24px, 2.49984vw, 96px);
    @apply font-katana;
    @apply text-primary-red;
  }

  &__price {
    // position: absolute;
    font-size: clamp(16px, 1.66656vw, 64px);
    @apply mt-12;
    @apply font-katana;
    @apply text-primary-red;
  }
}

.white {
  @extend .service_card;
  @apply bg-primary-light;
}

@media (min-width: 375px) and (max-width: 600px) {
  .service_card {
    width: clamp(184px, 85.97952vw, 736px);
    height: clamp(200px, 93.45599999999999vw, 800px);
    &__icon {
      width: clamp(37.855px, 17.6888844vw, 151.42px);
      height: clamp(44.415px, 20.7542412vw, 177.66px);
    }
    &__number {
      font-size: clamp(24px, 11.21472vw, 96px);
    }
    &__price {
      font-size: clamp(12.5px, 5.840999999999999vw, 50px);
      margin-top: 20px;
    }
  }
}
