.input--default {
  font-size: clamp(9px, 0.93744vw, 36px);
  width: clamp(175px, 18.228vw, 700px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  text-align: left;
  background-color: transparent;
  border: 2px rgba(191, 35, 22, 0.65) solid;
  transition: 0.3s ease;
  outline: none;
  @apply pl-4;
  @apply text-primary-light;
  @apply font-neo;
}

.input--default-red {
  font-size: clamp(9px, 0.93744vw, 36px);
  width: clamp(175px, 18.228vw, 700px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  text-align: left;
  background-color: transparent;
  border-bottom: 2px rgba(191, 35, 22, 0.65) solid;
  outline: none;
  @apply pl-4;
  @apply text-primary-red;
  @apply font-neoregular;
}

.input--password {
  @extend .input--default;
}

.icon {
  position: absolute !important;
  width: 24px;
  height: 24px;
  cursor: pointer;
  bottom: 0;
  z-index: 1000;
  @apply bottom-4;
  @apply right-4;
  @apply text-primary-light;
}

.input--default::placeholder {
  font-size: clamp(9px, 0.93744vw, 36px);
  @apply font-neoregular;
  @apply text-primary-light;
}

.input--default-red::placeholder {
  font-size: clamp(9px, 0.93744vw, 36px);
  @apply font-neoregular;
  @apply text-primary-red;
}

.input--default:focus {
  border: 2px #bf2316 solid;
  outline: 0;
  outline-offset: 0;
}

@media (min-width: 375px) and (max-width: 600px) {
  .input--default-red {
    font-size: clamp(9px, 4.20552vw, 36px);
    width: clamp(125px, 58.41vw, 500px);
    height: clamp(27.5px, 2.8644000000000003vw, 110px);
  }
  .input--default-red::placeholder {
    font-size: clamp(9px, 4.20552vw, 36px);
  }
}
