.input--default {
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	border: 2px rgba(191, 35, 22, 0.65) solid;
	transition: 0.3s ease;
	outline: none;
	@apply pl-4;
	@apply text-primary-light;
	@apply font-neo;
}

.input--teamposition {
	@apply font-katana;
	@apply text-primary-light;
	@apply text-lg;
	text-transform: uppercase;
	text-align: left;
	background-color: transparent;
	outline: none;
}

.input--teamposition::placeholder {
	@apply font-katana;
	@apply text-primary-light;
	@apply text-lg;
	text-align: left;
	background-color: transparent;
	outline: none;
}

.input--teamname {
	@apply font-katana;
	@apply text-primary-light;
	@apply text-2xl;
	font-weight: 500;
	text-align: left;
	background-color: transparent;
	outline: none;
}

.input--teamname::placeholder {
	@apply font-katana;
	@apply text-primary-light;
	@apply text-2xl;
	font-weight: 500;
	text-align: left;
	background-color: transparent;
	outline: none;
}

.input--neo-medium {
	@apply font-neomedium;
	@apply text-primary-red;
	font-size: clamp(12px, 1.24992vw, 48px);
	background-color: transparent;
	font-weight: 400;
	outline: none;
}

.input--calendar-small {
	@apply font-katana;
	@apply text-primary-red;
	font-size: clamp(9px, 0.93744vw, 36px);
	background-color: transparent;
	outline: none;
}

.input--newsheading {
	@apply font-katana;
	@apply text-primary-red;
	font-size: clamp(16px, 1.66656vw, 64px);
	background-color: transparent;
	outline: none;
}

.input--default-white {
	@apply text-primary-light;
	font-size: clamp(16px, 1.66656vw, 64px);
	background-color: transparent;
	outline: none;
	@apply font-katana;
	text-align: center;
}

.input--default-red-medium {
	font-size: clamp(12px, 1.24992vw, 48px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	border-bottom: 2px rgba(191, 35, 22, 0.65) solid;
	outline: none;
	@apply pl-4;
	@apply text-primary-red;
	@apply font-neoregular;
}

.input--default-red-small {
	font-size: clamp(15px, 1.5624vw, 60px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	outline: none;
	@apply pl-4;
	@apply text-primary-red;
	@apply font-katana;
}

.input--calendar {
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(75px, 7.812vw, 300px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	border: 2px rgba(191, 35, 22, 0.65) solid;
	transition: 0.3s ease;
	outline: none;
	@apply pl-4;
	@apply text-primary-red;
	@apply font-neoregular;
}

.input--default-red {
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	border-bottom: 2px rgba(191, 35, 22, 0.65) solid;
	outline: none;
	@apply pl-4;
	@apply text-primary-red;
	@apply font-neoregular;
}

.input--services-red-big {
	font-size: clamp(24px, 2.49984vw, 96px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	outline: none;
	@apply text-primary-red;
	@apply font-katana;
}

.input--services-red-big::placeholder {
	font-size: clamp(24px, 2.49984vw, 96px);
	text-align: left;
	@apply text-primary-red;
	@apply font-katana;
}

.input--default-red-big {
	font-size: clamp(24px, 2.49984vw, 96px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	outline: none;
	@apply text-primary-red;
	@apply font-katana;
}

.input--product {
	font-size: clamp(16px, 1.66656vw, 64px);
	text-align: center;
	background-color: transparent;
	outline: none;
	@apply text-primary-red;
	@apply font-katana;
}

.input--password {
	@extend .input--default;
}

.icon {
	position: absolute !important;
	width: clamp(12px, 1.24992vw, 48px);
	height: clamp(12px, 1.24992vw, 48px);
	cursor: pointer;
	bottom: 0;
	z-index: 1000;
	@apply bottom-4;
	@apply right-4;
	@apply text-primary-light;
}

.input--calendar-small::placeholder {
	@apply font-katana;
	@apply text-primary-red;
	font-size: clamp(9px, 0.93744vw, 36px);
}

.input--neo-medium::placeholder {
	@apply font-neomedium;
	@apply text-primary-red;
	font-size: clamp(12px, 1.24992vw, 48px);
}

.input--default-white::placeholder {
	@apply text-primary-light;
	font-size: clamp(16px, 1.66656vw, 64px);
	@apply font-katana;
}

.input--newsheading::placeholder {
	@apply font-katana;
	@apply text-primary-red;
	font-size: clamp(16px, 1.66656vw, 64px);
}

.input--product-desc::placeholder {
	@apply font-neo;
	font-size: clamp(8px, 0.83328vw, 32px);
	@apply text-primary-red;
	text-align: center;
}

.input--default::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neoregular;
	@apply text-primary-light;
}

.input--default-red::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neoregular;
	@apply text-primary-red;
}

.input--default-red-big::placeholder {
	font-size: clamp(24px, 2.49984vw, 96px);
	@apply font-katana;
	@apply text-primary-red;
}

.input--default-red-medium::placeholder {
	font-size: clamp(12px, 1.24992vw, 48px);
	@apply font-neoregular;
	@apply text-primary-red;
}

.input--product::placeholder {
	font-size: clamp(16px, 1.66656vw, 64px);
	@apply text-primary-red;
	@apply font-katana;
}

.input--default-red-small::placeholder {
	font-size: clamp(15px, 1.5624vw, 60px);
	@apply font-katana;
	@apply text-primary-red;
}

.input--textarea::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neoregular;
	@apply text-primary-dark;
	word-wrap: break-word;
}

.input--default:focus {
	border: 2px #bf2316 solid;
	outline: 0;
	outline-offset: 0;
}

@media (min-width: 375px) and (max-width: 600px) {
	.input--default-red,
	.input--default {
		font-size: clamp(9px, 4.20552vw, 36px) !important;
		width: clamp(162.5px, 75.93299999999999vw, 650px);
		height: clamp(25px, 11.681999999999999vw, 100px) !important;
	}

	.input--default-red::placeholder {
		font-size: clamp(9px, 4.20552vw, 36px) !important;
	}

	.input--default::placeholder {
		font-size: clamp(9px, 4.20552vw, 36px) !important;
	}
}
