---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import AboutCards from '@entities/Card_Components/AboutCard/index.astro'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<section class={styles.container}>
	<div class="m-auto w-[86.6%]">
		<div class={styles.container__heading}>
			<h2 class="text-primary-red">Наши цели</h2>
			<Paragraph
				paragraphType="white"
				align="text-right"
				width="35%"
				text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore."
			/>
		</div>
		<div class="mt-16 flex items-center justify-evenly gap-10">
			<AboutCards
				bigText="Lorem Ipsum"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
				cardType="white"
			/>
			<AboutCards
				bigText="Lorem Ipsum"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
				cardType="white"
			/>
			<AboutCards
				bigText="Lorem Ipsum"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
				cardType="white"
			/>
			<AboutCards
				bigText="Lorem Ipsum"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
				cardType="white"
			/>
		</div>
	</div>
</section>
<section class={styles.container_mob}>
	<div class="mt-12 flex flex-col items-center">
		<h2 class="text-primary-red">Наши цели</h2>
		<Paragraph
			align="text-center"
			margin="mt-4"
			paragraphType="white"
			width="75%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
		/>
		<AboutCards
			bigText="Lorem Ipsum"
			paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."

			cardType="white"
			margin="mt-8"
		/>
		<AboutCards
			bigText="Lorem Ipsum"
			paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
			cardType="white"
			margin="mt-8"
		/>
		<AboutCards
			bigText="Lorem Ipsum"
			paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
			cardType="white"
			margin="mt-8"
		/>
	</div>
</section>
