.card {
	width: 518px;
	height: 497px;
	@apply bg-primary-light text-primary-red;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 0px 16px 16px;
	box-shadow: 16px 16px 0px 0px #bf2316;
	@apply pl-7;

	&__heading {
		font-size: clamp(60px, 6.2496vw, 240px);
		@apply text-primary-red;
	}
}
