// body {
// 	@apply bg-primary-dark;
// }

.videoRoom {
	margin: auto;
	width: 90%;
	@apply bg-primary-dark;
	@apply text-primary-dark;
	@apply mt-2;
}
// 	.grid {
// 		display: flex;
// 		justify-content: space-between;
// 	}

// 	.grid_third {
// 		@apply mt-4;
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}

.loader {
	z-index: 1;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
	color: #fff;
	width: clamp(210px, 21.8736vw, 840px);
	height: clamp(157.5px, 16.4052vw, 630px);
}
// 		&__showman {
// 			border-radius: 6px;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			background-color: #333;
// 			color: #fff;
// 			width: clamp(300px, 31.248vw, 1200px);
// 			height: clamp(170px, 17.7072vw, 680px);
// 		}
// 	}
// }

.webcam_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.showman {
	border: 2px solid red;
	grid-column: span 2;
}

.webcam_grid::before,
.webcam_grid::after {
	content: '';
	width: 0;
}

/* Adjust for when there are exactly 4 or 7 items */
@media (max-width: 9999px) {
	/* Adjust max-width as needed */
	.webcam_grid:nth-child(4):nth-last-child(1),
	.webcam_grid:nth-child(4):nth-last-child(1) ~ .webcam_grid,
	.webcam_grid:nth-child(7):nth-last-child(1),
	.webcam_grid:nth-child(7):nth-last-child(1) ~ .webcam_grid {
		grid-column: span 2;
	}
}
