.container {
	@apply p-8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: clamp(5px, 0.5208vw, 20px);
	width: 100%;
	@apply bg-primary-light text-primary-red;
	@apply font-killbill;
	font-size: clamp(16px, 1.66656vw, 64px);
	&__cub {
		width: clamp(23px, 2.39568vw, 92px);
		height: clamp(23px, 2.39568vw, 92px);
	}
	&__number {
		@apply bg-primary-red text-primary-light;
		width: clamp(32.5px, 3.3852vw, 130px);
		height: clamp(32.5px, 3.3852vw, 130px);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 400px;
	}
	&__wins {
		display: flex;
		justify-content: space-evenly;
		gap: clamp(8px, 0.83328vw, 32px);
		align-items: center;
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.container {
		font-size: clamp(11.5px, 5.37372vw, 46px);
		@apply p-3 pb-6 pt-6;
		gap: 0;
		&__none {
			display: none;
		}
		&__number {
			width: clamp(22.5px, 10.5138vw, 90px);
			height: clamp(22.5px, 10.5138vw, 90px);
		}
	}
}
