---
import { Cursor } from '@shared/ui/Cursor/index'
import Layout from '../../../layouts/Layout.astro'
import { VacanciesList } from '@widgets/Screens/AdminPage/VacanciesList/index'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from '../../styles/History/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout title="Список вакансий">
	<Cursor client:load />
	<main class={styles.main}>
		<VacanciesList client:load />
	</main>
</Layout>
