.user_tab {
	display: flex;
	align-items: center;
	overflow-y: hidden;
	transition: 0.3s all;
	&:hover &__name {
		@apply text-primary-light;
	}

	&__name {
		font-size: clamp(12px, 1.24992vw, 48px);
		transition: 0.3s all;
		@apply text-primary-red;
		@apply font-neoregular;
		@apply ml-4;
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.user_tab {
		&__name {
			font-size: clamp(11.5px, 5.37372vw, 46px);
		}
	}
}
