.rules_screen {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../../assets/About/image-22.webp);
  background-position: center center;
  background-repeat: no-repeat;
  @apply bg-primary-dark;

  &__container {
    width: 86.6%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    @apply mt-16;

    &__upper {
      width: 100%;
      display: flex;
      overflow: hidden;

      align-items: center;
      justify-content: space-between;
    }
  }
}

.rules_mob_screen {
  display: none;
}

@media (min-width: 375px) and (max-width: 600px) {
  .rules_screen {
    display: none;
  }

  .rules_mob_screen {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../../assets/About/image-22.webp);
    background-position: center center;
    background-repeat: no-repeat;
    @apply bg-primary-dark;
  }
}
