.file {
	display: flex;
	flex-direction: column;
	@apply pl-4;
	@apply mt-4;
	justify-content: center;
	@apply text-primary-light;
	gap: clamp(5px, 0.5208vw, 20px);
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(50px, 5.208vw, 200px);
	text-align: left;
	background-color: transparent;
	border: 2px rgba(191, 35, 22, 0.65) solid;
	overflow: hidden;
}

.container {
	@apply mt-12;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__upload {
		@apply gap-4;
		border: 4px solid #bf2316;
		width: clamp(196px, 20.41536vw, 784px);
		height: clamp(180.5px, 18.80088vw, 722px);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&_fedora {
			width: clamp(75px, 7.812vw, 300px);
		}
	}
}

.previewImage {
	width: clamp(196px, 20.41536vw, 784px);
	height: clamp(180.5px, 18.80088vw, 722px);
}

.registration {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@apply mb-24;

	&__content {
		width: 86, 6%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		// margin-top: clamp(46px, 4.79136vw, 184px);
		width: clamp(68px, 7.08288vw, 272px);
		height: clamp(68px, 7.08288vw, 272px);
	}
	&__form {
		@apply mt-10;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: clamp(9px, 0.93744vw, 36px);
	}

	&__heading {
		font-size: clamp(47.5px,4.9476vw,190px);
		@apply font-killbill;
		@apply text-primary-red;
	}

	&__paragraph {
		width: 50%;
		font-size: clamp(9px, 0.93744vw, 36px);
		text-align: center;
		@apply text-primary-light;
		@apply mt-4;
	}

	&__password {
		font-size: clamp(9px, 0.93744vw, 36px);
	}

	&__mini_text {
		font-size: clamp(9px, 0.93744vw, 36px);
		@apply text-primary-light;
		@apply mt-4;
	}

	.upload {
		@apply mt-4;
		display: flex;
		justify-content: center;
		align-items: left;
		font-size: clamp(9px, 0.93744vw, 36px);
		width: clamp(175px, 18.228vw, 700px);
		height: clamp(27.5px, 2.8644000000000003vw, 110px);
		overflow: hidden;
		border: 2px solid #bf2316;
		text-align: left;
	}

	.card__content__previewImage {
		width: clamp(40px, 4.1664vw, 160px);
		height: clamp(40px, 4.1664vw, 160px);
	}
}

.fileUpload {
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 2px rgba(191, 35, 22, 0.65) solid;
	transition: 0.3s ease;
	outline: none;
	@apply pl-4;
	@apply text-primary-light;
	@apply font-neo;
	overflow: hidden;
}

.fileUpload::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neoregular;
	@apply text-primary-light;
}
.fileLoad {
	width: 250px;
	height: 100px;
	background: #ffffff;
}

.fileDetails {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
}
.customFileUpload {
	@apply text-primary-red;
}

@media (min-width: 375px) and (max-width: 600px) {
	.registration {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__password {
			font-size: clamp(9px, 4.20552vw, 36px);
		}
	}

	.registration__heading {
		text-align: center;
		width: 80%;
		font-size: clamp(24px,11.21472vw,96px)
;
	}

	.registration__paragraph {
		width: 80%;
		font-size: clamp(9px, 4.20552vw, 36px) !important;
	}

	.registration__mini_text {
		font-size: clamp(9px, 4.20552vw, 36px);
		@apply text-primary-light;
		@apply mt-4;
	}

	.fileUpload {
		font-size: clamp(9px, 4.20552vw, 36px) !important;
		width: clamp(162.5px, 75.93299999999999vw, 650px);
		height: clamp(25px, 11.681999999999999vw, 100px) !important;
	}
}
