.button {
  @apply font-neoregular;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(125px, 13.02vw, 500px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  font-size: clamp(10px, 1.0416vw, 40px);
  font-weight: 100;
}

.filled {
  @extend .button;
  color: white;
  border: none;
  transition: all 0.3s ease;
  @apply bg-primary-red;

  &:hover {
    background-color: #af1306;
  }
}

.transparent {
  @extend .button;
  @apply text-primary-red;
  background-color: transparent;
  border: 2px solid;
  transition: 0.5s;
  @apply border-primary-red;

  &:hover,
  &:focus {
    box-shadow: inset 250px 0 0 0 #bf2316;
    @apply text-primary-light;
  }
}
