.game_type_tab {
	display: flex;
	flex-direction: column;
	transition: 0.3s all;
	cursor: none;
	@apply rounded-md;
	@apply p-2;
	&:hover {
		@apply bg-primary-red;
	}

	&:hover &__name {
		@apply text-primary-light;
	}

	&:hover &__description {
		@apply text-primary-light;
	}

	&__name {
		transition: 0.3s all;
		@apply text-2xl;
		@apply text-primary-red;
		@apply font-killbill;
	}

	&__description {
		width: 60%;
		text-align: left;
		transition: 0.3s all;
		@apply mt-2;
		@apply text-base;
		@apply text-primary-dark;
		@apply font-neoregular;
	}
}

.activeTabStyle {
	@apply text-primary-light;
	@apply bg-primary-red;

	strong,
	p {
		@apply text-primary-light;
	}
}
