.form {
	width: 100vw;
	// height: 41vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url('../../../assets/Main/concrete-texture.webp');
	background-position: center center;
	background-size: cover;
	@apply bg-primary-light;
	@apply p-16;
	&__items {
		display: flex;
		align-items: center;
	}
	&__heading {
		@apply text-primary-red;
		margin: auto;
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.form {
		height: 90%;
		&__items {
			display: flex;
			flex-direction: column;
		}
		&__heading {
			text-align: center;
			line-height: clamp(42.5px, 19.859399999999997vw, 170px);
		}
	}
}
