.menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	z-index: 1000000;
	@apply left-64;
	@apply top-28;
	@apply p-3;
	@apply bg-primary-dark;

	&__items {
		cursor: pointer;
		@apply text-white;
		@apply p-3;
		border-radius: 6px;
		transition: 0.3s all;

		&:hover {
			@apply bg-primary-red;
		}
	}
}
