.avatar {
  width: clamp(37.5px, 3.906vw, 150px);
  height: clamp(37.5px, 3.906vw, 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  border: 3px solid;
  @apply p-4;
  @apply border-primary-red;
  @apply rounded-full;

  &__icon {
    width: auto;
    height: auto;
  }
}
