---

import LinkText from "@shared/ui/LinkText/index.astro";

import styles from "./styles.module.scss";
---

<header class={styles.header}>
      <div class={styles.header__content}>
        <nav class={styles.header__content_links}>
          <ul>
            <LinkText to="main" text="Главная"  />
          </ul>
          <ul>
            <LinkText
              to="about"
              text="О нас"
            />
          </ul>
          <ul>
            <LinkText
              to="services"
              text="Услуги"
            />
          </ul>
          <ul>
            <LinkText
              to=""
              text="Расписание"
            />
          </ul>
          <ul>
            <LinkText
              to="rules"
              text="Правила"
            />
          </ul>
          <ul>
            <LinkText
              to="contacts"
              text="Контакты"
            />
          </ul>
        </nav>
      </div>
    </header>
