.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply mt-8;

  &__content {
    width: 86.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    &__links {
      display: flex;
      justify-content: center;
      gap: clamp(12.5px, 1.302vw, 50px);
    }
  }
}

.header_mob {
  display: none;
}

@media (min-width: 375px) and (max-width: 600px) {
  .header {
    display: none;
  }

  .header_mob {
    display: flex;
    width: 90%;
  }
}
