.button {
	@apply font-neoregular;
	display: flex;
	align-items: center;
	justify-content: center;
	width: clamp(100px, 10.416vw, 400px);
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	font-size: clamp(10px, 1.0416vw, 40px);
	font-weight: 100;
	cursor: none;
}

.filled {
	@extend .button;
	@apply text-primary-light;
	border: none;
	transition: all 0.3s ease;
	@apply bg-primary-red;

	&:hover {
		background-color: #af1306;
	}
}



.buttonIcon {
	@apply text-2xl;
	@apply text-primary-light;
	@apply mr-3;
}

@media (min-width: 375px) and (max-width: 600px) {
	.button {
		@apply font-neoregular;
		display: flex;
		align-items: center;
		justify-content: center;
		width: clamp(125px, 58.41vw, 500px);
		height: clamp(27.5px, 12.8502vw, 110px);
		font-size: clamp(10px, 4.6728vw, 40px);
		font-weight: 100;
		cursor: none;
	}

	.filled {
		@apply font-neoregular;
		font-weight: 100;
		cursor: none;
		font-size: clamp(10px, 4.6728vw, 40px);
		display: flex;
		align-items: center;
		justify-content: center;
		width: clamp(100px,46.727999999999994vw,400px);
		height: clamp(25px,11.681999999999999vw,100px);
		@apply text-primary-light;
		background-color: #af1306;
	}
}
