.container {
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
}

.swiper {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.photo {
	// width: clamp(420px, 43.7472vw, 1680px);
	overflow: hidden;
	// box-shadow: 16px 16px 0px 0px #f0e7be;
}

.gallery_nav {
	// left: clamp(15px, 1.5624vw, 60px);
	// top: clamp(140px, 14.5824vw, 560px);
	left: 50px;
	position: absolute;
	display: flex;
	align-items: center;
}

@media (min-width: 375px) and (max-width: 600px) {
	.container {
		width: clamp(175px, 81.774vw, 700px);
		height: clamp(150px, 70.092vw, 600px);
	}

	.gallery_nav {
		left: clamp(5px, 2.3364vw, 20px);
		top: clamp(65px, 30.373199999999997vw, 260px);
	}
}
