.textarea--vacancie {
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(50px, 5.208vw, 200px);
	text-align: left;
	background-color: transparent;
	overflow: hidden;
	outline: none;
	color: #232323;
	@apply font-neoregular;
}

.textarea--form {
	@apply pt-2;
	font-size: clamp(9px, 0.93744vw, 36px);
	width: clamp(145px, 15.103200000000001vw, 580px);
	height: clamp(50px, 5.208vw, 200px);
	text-align: left;
	background-color: transparent;
	overflow: hidden;
	outline: none;
	@apply text-primary-red;
	@apply font-neoregular;
	@apply pl-4;
	border: 2px rgba(191, 35, 22, 0.65) solid;
	border-left: 2px rgba(191, 35, 22, 0.65) solid;
	border-right: 2px rgba(191, 35, 22, 0.65) solid;
}

.textarea--form::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply text-primary-red;
	@apply font-neoregular;
}

.textarea--services {
	font-size: clamp(9px, 0.93744vw, 36px);
	font-weight: 400;
	line-height: clamp(50px, 5.208vw, 200px);
	@apply font-neolight;
	overflow: hidden;
	width: clamp(175px, 18.228vw, 700px);
	height: clamp(90px, 9.3744vw, 360px);
	@apply text-primary-dark;
	background-color: transparent;
	outline: none;
}

.textarea--services::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	font-weight: 400;
	@apply font-neolight;
	@apply text-primary-dark;
}

.textarea--vacancie::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neoregular;
	@apply text-primary-dark;
	word-wrap: break-word;
}

.textarea--review {
	font-size: clamp(9px, 0.93744vw, 36px);
	font-weight: 400;
	line-height: clamp(13.52px, 1.4082432vw, 54.08px);
	@apply font-neolight;
	overflow: hidden;
	width: clamp(153.5px, 15.98856vw, 614px);
	height: clamp(73px, 7.60368vw, 292px);
	@apply p-2;
	@apply text-primary-dark;
	background-color: transparent;
	outline: none;
}

.textarea--articles {
	font-size: clamp(9px, 0.93744vw, 36px);
	font-weight: 400;
	line-height: clamp(13.52px, 1.4082432vw, 54.08px);
	@apply font-neolight;
	overflow: hidden;
	width: clamp(140px, 14.5824vw, 560px);
	height: clamp(80px, 8.3328vw, 320px);
	@apply text-primary-dark;
	background-color: transparent;
	outline: none;
}

.textarea--review::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neolight;
	@apply text-primary-dark;
}

.textarea--articles::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neolight;
	@apply text-primary-dark;
}

.textarea--schedule {
	font-size: clamp(15px, 1.5624vw, 60px);
	overflow: hidden;
	width: clamp(225px, 23.436vw, 900px);
	height: clamp(100px, 10.416vw, 400px);
	text-align: left;
	background-color: transparent;
	outline: none;
	@apply pl-4;
	@apply text-primary-red;
	@apply font-neoregular;
}

.textarea--product-desc {
	overflow: hidden;
	width: clamp(160px, 16.6656vw, 640px);
	height: clamp(36px, 3.74976vw, 144px);
	font-weight: 500;
	@apply font-neoregular;
	font-size: clamp(8px, 0.83328vw, 32px);
	@apply text-primary-red;
	text-align: center;
	background-color: transparent;
	outline: none;
}

.textarea--product-desc::placeholder {
	font-size: clamp(8px, 0.83328vw, 32px);
	@apply font-neoregular;
	@apply text-primary-red;
}

.textarea--schedule::placeholder {
	font-size: clamp(15px, 1.5624vw, 60px);
	@apply font-neoregular;
	@apply text-primary-red;
}

@media (min-width: 375px) and (max-width: 600px) {
	.textarea--form {
		width: 100%;
		min-height: clamp(100px, 46.727999999999994vw, 400px);
	}

	.textarea--form::placeholder {
		font-size: clamp(10px, 4.6728vw, 40px);
	}
}
