.textarea--vacancie {
	font-size: clamp(9px, 0.93744vw, 36px);
	width: 100%;
	height: clamp(27.5px, 2.8644000000000003vw, 110px);
	text-align: left;
	background-color: transparent;
	overflow: hidden;
	outline: none;
	color: #232323;
	@apply pl-4;
	@apply font-neoregular;
}

.textarea--vacancie::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neoregular;
	@apply text-primary-dark;
	word-wrap: break-word;
}

.textarea--review {
	font-size: clamp(9px, 0.93744vw, 36px);
	font-weight: 400;
	line-height: 27.04px;
	@apply font-neolight;
	overflow: hidden;
	width: 307px;
	height: 146px;
	@apply p-2;
	@apply text-primary-dark;
	background-color: transparent;
	outline: none;
}

.textarea--articles {
	font-size: clamp(9px, 0.93744vw, 36px);
	font-weight: 400;
	line-height: 27.04px;
	@apply font-neolight;
	overflow: hidden;
	width: 307px;
	height: 146px;
	@apply text-primary-dark;
	background-color: transparent;
	outline: none;
}

.textarea--review::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neolight;
	@apply text-primary-dark;
}

.textarea--articles::placeholder {
	font-size: clamp(9px, 0.93744vw, 36px);
	@apply font-neolight;
	@apply text-primary-dark;
}

.textarea--schedule {
	font-size: clamp(15px, 1.5624vw, 60px);
	overflow: hidden;
	width: clamp(225px, 23.436vw, 900px);
	height: clamp(100px, 10.416vw, 400px);
	text-align: left;
	background-color: transparent;
	outline: none;
	@apply pl-4;
	@apply text-primary-red;
	@apply font-neoregular;
}

.textarea--product-desc {
	overflow: hidden;
	width: 320px;
	height: 72px;
	font-weight: 500;
	@apply font-neoregular;
	font-size: clamp(8px, 0.83328vw, 32px);
	@apply text-primary-red;
	text-align: center;
	background-color: transparent;
	outline: none;
}

.textarea--product-desc::placeholder {
	font-size: clamp(8px, 0.83328vw, 32px);
	@apply font-neoregular;
	@apply text-primary-red;
}

.textarea--schedule::placeholder {
	font-size: clamp(15px, 1.5624vw, 60px);
	@apply font-neoregular;
	@apply text-primary-red;
}
