---
import SwiperReview from '@shared/ui/Swiper/index';
import { reviews } from '@shared/ui/Swiper/index';
import styles from './styles.module.scss';
import '@shared/styles/global.scss';
---

<section class="bg-primary-dark">
    <div class="w-[86.6%] m-auto">
        <div class="w-full m-auto">
            <h3 class="text-primary-red mt-12">Отзывы</h3>
        </div>
        <div class='flex justify-evenly gap-10 items-center mt-16 '>
            <SwiperReview reviews={reviews} client:load/>
        </div>
    </div>
</section>