---
import styles from './styles.module.scss'
import '@shared/styles/global.scss'
import ReviewCard from '../../../../entities/ReviewCard/index.astro'
---

<section class="bg-primary-dark">
    <div class="w-[86.6%] m-auto">
        <h3 class="text-primary-red">Отзывы</h3>
    </div>
    <div class="flex justify-between w-[100%]">
        <ReviewCard/>
    </div>
</section>