.card {
	width: clamp(300px, 31.248vw, 1200px);
	height: clamp(200px, 20.832vw, 800px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: flex-start;
	@apply p-4;
	box-shadow: 16px 16px 0px 0px #bf2316;
	@apply bg-primary-light;

	&__upper {
		width: 140%;
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: space-between;

		&_time {
			@apply mt-4;
		}
	}

	&__heading {
		@apply text-4xl;
		overflow: hidden;
		@apply font-killbill;
		@apply text-primary-red;
		@apply mt-4;
	}

	&__address {
		@apply text-2xl;
		@apply mt-4;
		@apply font-neo;
		@apply text-primary-red;
	}

	&__icon {
		@apply text-primary-red;
		@apply text-4xl;
		@apply p-4;
	}

	&__link {
		overflow: hidden;
		@apply underline;
		@apply text-primary-red;
		@apply font-neo;
		transition: 0.3s all;
		&:hover {
			@apply text-red-600;
		}
	}
}
