.input--default {
  font-size: clamp(9px, 0.93744vw, 36px);
  width: clamp(175px, 18.228vw, 700px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  text-align: left;
  background-color: transparent;
  border: 2px rgba(191, 35, 22, 0.65) solid;
  transition: 0.3s ease;
  outline: none;
  @apply pl-4;
  @apply text-primary-light;
  @apply font-neo;
}

.input--default::placeholder {
  font-size: clamp(9px, 0.93744vw, 36px);
  @apply font-neo;
  @apply text-primary-light;
}

.input--default:focus {
  border: 2px #bf2316 solid;
  outline: 0;
  outline-offset: 0;
}
