body {
}

.main {
  @apply bg-primary-dark;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../assets/About/image-22.webp);
  background-position: center center;
  background-repeat: no-repeat;
}
