.container {
  position: relative;
  overflow: hidden;
  &__header {
    display: flex;
    align-items: center;
    justify-content: end;
    @apply mb-12;
  }

  &__heading {
    margin-left: auto;
  }

  &__buttons {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
