.player_avatar {
	display: flex;
	align-items: center;
	flex-direction: column;

	&__name {
		@apply text-primary-red;
		@apply text-base;
		@apply font-neoregular;
		@apply font-bold;
		@apply mt-2;
	}

	&__image {
		width: clamp(35px, 3.6456vw, 140px);
		height: clamp(35px, 3.6456vw, 140px);
		border: 2px solid;
		@apply p-3;
		@apply border-primary-red;
		@apply rounded-full;
	}
}
