---
import Paragraph from "@shared/ui/Paragraph/index.astro";
import { Input } from "@shared/ui/Inputs/DefaultInput/index";
import Button from "@shared/ui/Buttons/DefaultButton/index.astro";

import illustration from "@assets/About/svg/image 30.svg";

import styles from "./style.module.scss";
---

<section class=`${"flex bg-primary-light"} ${styles.container}`>
    <img src={illustration.src} alt="" class={styles.img} />
    <div class="flex flex-col items-left ml-32">
        <span
            class="font-killbill w-[110%] text-5xl overflow-y-hidden text-primary-red mt-14"
            >Подпишитесь на рассылку для вас</span
        >
        <Paragraph
            width="60%"
            align="text-left"
            paragraphType="dark"
            margin="mt-4"
            text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit, "
        />
        <div class="flex items-center justify-left gap-10">
            <Input
                client:load
                placeholder="Введите вашу электронную почту"
                inputType="default-red"
                margin="mt-4"
                type="email"
                {...Astro.props}
            />
            <Button
                text="Отправить"
                buttonType="filled"
                type="submit"
                margin="mt-8"
                {...Astro.props}
            />
        </div>
    </div>
</section>
<section class=`${"flex bg-primary-light"} ${styles.container_mob}`>
    <div class="flex flex-col w-[80%] m-auto items-right">
        <span
            class="font-killbill pb-4 text-3xl overflow-y-hidden text-primary-red"
            >Подпишитесь на рассылку для вас</span
        >
        <Paragraph
            width="100%"
            align="text-left"
            paragraphType="red"
            margin="m-auto"
            text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit, "
        />
            <Input
                client:load
                placeholder="Введите вашу почту"
                inputType="default-red"
                margin="mt-4"
                type="email"
                {...Astro.props}
            />
            <Button
                text="Отправить"
                buttonType="transparent"
                type="submit"
                margin="mt-4"
                {...Astro.props}
            />
        </div>
</section>
