.container {
	width: clamp(611px, 63.641760000000005vw, 2444px);
}
@media (min-width: 1024px){

.container_mob {
	display: none !important;
}
}

@media (min-width: 375px) and (max-width: 600px) {
	.container {
		display: none !important;
	}

	.container_mob {
		/* display: flex;
		justify-content: center;
		align-items: center; */
		overflow: hidden;
		width:clamp(200px,93.45599999999999vw,800px);
		height: clamp(270px, 126.1656vw, 1080px);
		margin: auto;
		display: flex;
		background-image: url('../../../assets/About/svg/image 32.svg');
		background-repeat: no-repeat;
		background-position: bottom left;
	}
}
