---
import "@shared/styles/global.scss";
import SubscribeForm from "@widgets/Form/SubscribeForm/index.astro";
---

<!-- <section class="bg-primary-dark pb-16"> -->
<div class="w-[86.6%] m-auto">
    <div class="mt-16">
        <h5 class="text-primary-red text-center">Подписка</h5>
    </div>
    <div class="flex justify-center items-center">
        <SubscribeForm />
    </div>
</div>
