@media (min-width: 1024px){

	.container_mob {
		display: none !important;
	}
	}


@media (min-width: 375px) and (max-width: 600px) {
	.container {
		display: none;
	}

	.container_mob {
		display: flex;
	}
}
