.review {
	width: clamp(175.5px, 18.28008vw, 702px);
	height: clamp(179px, 18.64464vw, 716px);
	@apply bg-primary-light text-primary-red;
	font-size: clamp(15px, 1.5624vw, 60px);
	font-weight: 600;
	margin: 0px 16px 16px;
	box-shadow: 16px 16px 0px 0px #bf2316;
	overflow: hidden;

	span {
		font-size: clamp(12px, 1.24992vw, 48px);
	}

	&__text {
		overflow: hidden;
		@apply ml-1.5;
		@apply mt-4;
		width: clamp(154.5px, 16.09272vw, 618px);
		height: clamp(73.5px, 7.65576vw, 294px);
	}
}

.star {
	display: flex;
	flex-direction: row;
	@apply pl-2;
	@apply mt-2;
}

.stars {
	font-size: clamp(12px, 1.24992vw, 48px);
}

.card {
	width: clamp(175.5px, 18.28008vw, 702px);
	height: clamp(179px, 18.64464vw, 716px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: flex-start;
	@apply pl-4;
	box-shadow: 16px 16px 0px 0px #bf2316;
	@apply bg-primary-light;

	&__client {
		display: flex;
		flex-direction: row;
		@apply gap-4;

		&_circle {
			display: flex;
			justify-content: center;
			align-items: center;
			width: clamp(26px, 2.70816vw, 104px);
			height: clamp(26px, 2.70816vw, 104px);
			border: 2px solid #bf2316;
			border-radius: 50%;
		}

		&_fedora {
			width: clamp(13.7px, 1.426992vw, 54.8px);
		}
	}

	&__review {
		overflow: hidden;
		@apply ml-1;
		@apply mt-4;
		width: clamp(154.5px, 16.09272vw, 618px);
		height: clamp(73.5px, 7.65576vw, 294px);
		border: 2px solid #bf2316;
	}

	&__icon {
		@apply text-primary-red;
		@apply text-4xl;
		@apply p-4;
	}
}


@media (min-width: 375px) and (max-width: 600px) {
	.review {
		width: clamp(150px, 70.092vw, 600px);
		height: clamp(190px, 88.7832vw, 760px);
		font-size: clamp(14px, 6.541919999999999vw, 56px);
		&__text {
			width: clamp(130px, 60.746399999999994vw, 520px);
			height: clamp(75px, 35.046vw, 300px);
		}

		span {
			font-size: clamp(10px,4.6728vw,40px);
		}
	}
	.paragraph {
		font-size: clamp(7px,3.2709599999999996vw,28px);
		line-height: clamp(11.5px, 5.37372vw, 46px);
		color: #232323;
	}

	.stars {
		font-size: clamp(12px,5.60736vw,48px);
	}
}

