.review {
	width: clamp(175.5px, 18.28008vw, 702px);
	height: clamp(179px, 18.64464vw, 716px);
	@apply bg-primary-light text-primary-red;
	font-size: clamp(15px, 1.5624vw, 60px);
	font-weight: 600;
	margin: 0px 16px 16px;
	box-shadow: 16px 16px 0px 0px #bf2316;

	&__text {
		overflow: hidden;
		@apply ml-1.5;
		@apply mt-4;
		width: 309px;
		height: 147px;
		border: 2px solid #bf2316;
	}
}

.star {
	display: flex;
	flex-direction: row;
	@apply pl-2;
	@apply mt-2;
}

.stars {
	font-size: 24px;
}

@media (min-width: 375px) and (max-width: 600px) {
	.review {
		width: clamp(150px, 70.092vw, 600px);
		height: clamp(190px, 88.7832vw, 760px);
		font-size: clamp(14px, 6.541919999999999vw, 56px);
		&__text {
			width: clamp(130px, 60.746399999999994vw, 520px);
			height: clamp(75px, 35.046vw, 300px);
		}
	}
	.paragraph {
		font-size: clamp(9px, 4.20552vw, 36px);
		line-height: clamp(11.5px, 5.37372vw, 46px);
	}
}
