.swiper {
	overflow: hidden;
	width: clamp(465px, 48.434400000000004vw, 1860px);
	height: clamp(301px, 31.35216vw, 1204px);
	position: relative;
	// top: clamp(185px, 19.2696vw, 740px);
	// left: clamp(-135px, -14.0616vw, -540px);
	// top: clamp(16px, 1.66656vw, 64px);
	// left: clamp(-600px, -62.496vw, -2400px);
	right: clamp(150px, 70.092vw, 600px);
}

.text_container {
	position: absolute;
	top: 400px;
	left: 1000px;
	@apply mt-32;

	&__heading {
		font-size: clamp(24px, 2.49984vw, 96px);
		@apply text-primary-red;
		@apply font-killbill;
	}

	&__paragraph {
		@apply text-primary-light;
	}
}

.swiper_mob {
	display: none;
}

.text_container_mob {
	display: none;
}

@media (min-width: 375px) and (max-width: 600px) {
	.swiper {
		display: none;
	}
	.text_container {
		display: none;
	}
	.text_container_mob {
		display: flex;

		&__heading {
			font-size: clamp(27px, 12.61656vw, 108px);
			@apply text-primary-red;
			@apply font-killbill;
		}

		&__paragraph {
			@apply text-primary-light;
		}
	}

	.swiper_mob {
		display: flex;
		width: 100%;
		height: 120%;
	}
}
