---
import { Form } from "@widgets/Screens/ContactForm/index";
// import Button from "@shared/ui/Buttons/DefaultButton/index.astro";

import "@shared/styles/global.scss";
---

<section>
    <Form />
</section>
