---
import styles from "./styles.module.scss";

interface Props {
  buttonType: "filled" | "outline" | "transparent";
  text: string;
  margin?: string;
  type: string;
}

const { text, margin, buttonType, type, ...rest } = Astro.props;

const buttonClass = `${styles.button} ${styles[buttonType]} ${margin ? margin : ""}`;
---

<button class={buttonClass} {...rest}>
  {text}
</button>
