---
import styles from "./styles.module.scss";
interface Props {
  buttonType: "filled" | "outline";
  text: string;
  margin?: string;
}

const { text, margin, buttonType, ...rest } = Astro.props;

const buttonClass = `${styles.button} ${styles[buttonType]} ${margin ? margin : ""}`;
---

<button class={buttonClass} {...rest}>
  {text}
</button>
