.button {
  @apply font-neo;
  width: clamp(125px, 13.02vw, 500px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  font-size: clamp(11px, 1.1457600000000001vw, 44px);
  font-weight: 400;
  cursor: pointer;
}

.filled {
  @extend .button;
  color: white;
  background-color: #bf2316;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #af1306;
  }
}

.transparent {
  @extend .button;
  @apply text-primary-red-text;
  background-color: transparent;
  border: 2px solid #bf2316;
  transition: 0.5s;

  &:hover,
  &:focus {
    box-shadow: inset 250px 0 0 0 #bf2316;
    @apply text-primary-white-text;
  }
}
