.order {
	display: flex;
	flex-direction: column;
	width: clamp(279.5px, 29.11272vw, 1118px);
	height: clamp(250px, 26.04vw, 1000px);
	background-color: #f0e7be;
	@apply pt-4;
	@apply pl-8;
	margin: 0px 16px 16px 0px;
	box-shadow: 16px 16px 0px 0px #bf2316;

	&__heading {
		font-size: clamp(60px, 6.2496vw, 240px);
		@apply text-primary-red;
	}
}
