.menu {
	position: absolute;
	top: clamp(25px, 2.604vw, 100px);
	right: clamp(5px, 0.5208vw, 20px);
	@apply bg-primary-light;
	@apply rounded-md;
	@apply shadow-md;
	z-index: 999;
	display: flex;
	flex-direction: column;
}

.menu button {
	padding: clamp(4px, 0.41664vw, 16px) clamp(8px, 0.83328vw, 32px);
	border: none;
	background-color: transparent;
	cursor: pointer;
	@apply font-neoregular;
	@apply text-primary-dark;
	transition: 0.3s ease-in-out;
}

button:hover {
	@apply text-primary-hovered;
}

.usertab {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.kebab-menu {
		position: absolute;
		@apply p-3;
		@apply top-1;
		@apply right-1;
		cursor: pointer;
		color: red;
	}

	&__photo {
		width: clamp(45px, 4.6872vw, 180px);
		height: clamp(45px, 4.6872vw, 180px);
		border-radius: 50%;
		overflow: hidden;
	}

	&__text {
		@apply ml-5;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&_name {
			@apply font-katana;
			@apply text-primary-light;
			@apply text-2xl;
			font-weight: 500;
		}

		&_position {
			@apply font-katana;
			@apply text-primary-light;
			@apply text-lg;
			text-transform: uppercase;
		}
	}
}

.usertab--users {
	position: relative;
	flex-wrap: wrap;
	width: clamp(200px, 20.832vw, 800px);
	height: clamp(65px, 6.7704vw, 260px);
	border-radius: clamp(7.5px, 0.7812vw, 30px);
	justify-content: space-between;
	overflow: hidden;
	background-color: #333333;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	.usertab__photo--users {
		display: flex;
		width: clamp(40px, 4.1664vw, 160px);
		height: clamp(40px, 4.1664vw, 160px);
		border-radius: 50%;
		overflow: hidden;
	}

	.usertab__text--users {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 60%;

		&_name {
			@apply font-katana;
			@apply text-primary-light;
			@apply text-2xl;
			font-weight: 500;
		}

		&_position {
			@apply font-katana;
			@apply text-primary-light;
			@apply text-lg;
			text-transform: uppercase;
		}
	}
}
