.game_profile {
  width: clamp(200px, 20.832vw, 800px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url(../../assets/Main/mafia_shadow.webp);
  background-size: cover;
  background-position: center center;
  @apply bg-primary-light;
  @apply rounded-md;
  @apply p-4;

  &__avatar {
    width: clamp(32px, 3.33312vw, 128px);
    height: clamp(32px, 3.33312vw, 128px);
    @apply rounded-full;
  }

  &__name {
    @apply text-xl;
    @apply text-primary-red;
    @apply font-katana;
  }

  &__rank {
    border-radius: 4px;
    background: rgba(191, 35, 22, 0.15);
    @apply text-base;
    @apply text-primary-red;
    @apply p-2;
    @apply font-neoregular;
    @apply mt-2;
  }

  &__stats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply rounded-md;
    @apply mt-8;
    @apply bg-primary-red;

    &__game {
      display: flex;
      flex-direction: column;
      align-items: center;
      @apply p-4;
      @apply text-white;
      @apply font-neoregular;

      &__number {
        @apply mt-2;
      }
    }
  }
}
