.container {
  width: 86.6%;
  @apply mt-8;
  &__heading {
  }
  &__counter {
    display: flex;
    width: 55%;
    @apply mt-4;
    &__items {
      &__int {
        @apply font-killbill text-primary-red mt-4;
        font-size: clamp(60px, 6.2496vw, 240px);
        font-weight: 400;
        word-wrap: break-word;
      }
    }
  }
}

.container_mob {
  display: none;
}

@media (min-width: 375px) and (max-width: 600px) {
  .container {
    display: none;
  }

  .container_mob {
    display: flex;
  }
}
