<<<<<<< HEAD
.client_mob {
	display: none;
=======
.swiper_mob {
  display: none;
>>>>>>> 3da3e236a5ae2058d1e4058c453c77b8c9a5d08c
}

.contacts__con__swiper {
  width: 150%;
}

@media (min-width: 375px) and (max-width: 600px) {
	.client {
		display: none;
	}

<<<<<<< HEAD
	.client_mob {
		display: flex;
		width: 90%;
		margin: auto;
	}
}
=======
  .client_mob {
    display: flex;
    width: 90%;
    margin: auto;
  }

  .swiper_mob {
    display: flex;
    width: 600%;
    @apply mb-12;
  }
}
>>>>>>> 3da3e236a5ae2058d1e4058c453c77b8c9a5d08c
