---
import{ Header } from '@features/Header/index'

import Layout from '../layouts/Layout.astro'
import Main from '@widgets/Screens/AboutPage/Main/main.astro'
import Goals from '@widgets/Screens/AboutPage/Goals/index.astro'
import Reviews from '@widgets/Screens/AboutPage/Reviews/index.astro'

import styles from '@pages/styles/About/styles.module.scss'
---

<Layout title="About">
    <div class={styles.main}>
        <Header client:load/>
        <Main />
    </div>
    <Goals/>
    <Reviews/>
</Layout>