---
import { Cursor } from '@shared/ui/Cursor/index'
import { Header } from '@features/Header/index'
import { Loader } from '@shared/ui/Loader'
import { Menu } from '@features/Menu'

import Layout from '../layouts/Layout.astro'
import Main from '@widgets/Screens/AboutPage/Main/main.astro'
import Goals from '@widgets/Screens/AboutPage/Goals/index.astro'
import News from '@widgets/Screens/AboutPage/News'
import Articles from '@widgets/Screens/AboutPage/Articles/index.astro'
import Subscribe from '@widgets/Screens/AboutPage/Subscribe/index.astro'
import Contacts from '@widgets/Screens/AboutPage/Contacts/index.astro'
import Footer from '@features/Footer/index.astro'

import styles from '@pages/styles/About/styles.module.scss'

import Logo from '@assets/logo/logo.png'
import NewsSection from '@widgets/Screens/AboutPage/News'
---

<Layout
	title="О компании | Showtime Мафия Алматы"
	image={Logo}
	description="Откройте для себя Showtime - ведущего эксперта в области организации захватывающих корпоративных мероприятий и тимбилдингов с использованием платформы онлайн игры Мафия. Наша компания преобразует классическую игру в инструмент для укрепления командного духа и развития ключевых профессиональных навыков. В Showtime мы гордимся нашим инновационным подходом к ивент-менеджменту, создавая незабываемые впечатления, которые способствуют коммуникации, стратегическому планированию и коллективной работе. Мы предлагаем широкий спектр услуг от виртуальных тимбилдингов до масштабных корпоративных мероприятий, каждое из которых адаптировано под уникальные потребности наших клиентов. Позвольте Showtime стать вашим партнёром в создании незабываемых моментов, укрепляющих командный дух и поддерживающих корпоративную культуру. Присоединяйтесь к нам для организации вашего следующего мероприятия и погрузитесь в мир Мафии, где каждое событие превращается в захватывающее приключение."
>
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<div class={styles.main} id="main">
		<Header client:load />
		<Main />
	</div>
	<Goals />
	<!-- <Articles /> -->
	<NewsSection client:load />
	<Subscribe />
	<Contacts />
	<Footer to="main" />
</Layout>
