---
import { Cursor } from "@shared/ui/Cursor/index";
import { Loader } from "@shared/ui/Loader/index";
import Layout from "../layouts/Layout.astro";
import AdminPage from "../widgets/Screens/AdminPage/index.astro";

import "@shared/styles/global.scss";
import "@shared/styles/scrollbar.scss";

import styles from "./styles/History/styles.module.scss";
---

<Layout title="Админ панель">
    <!-- <Loader client:load/> -->
  <Cursor client:load />
  <main class={styles.main}>
    <AdminPage client:load/>
  </main>
</Layout>