---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'

import Footer from '@features/Footer/index.astro'
import EventsPage from '@widgets/Screens/EventsPage/index.astro'
import Layout from '../layouts/Layout.astro'
import { Form } from '@widgets/Screens/ContactForm/index'
import Mans from '@widgets/Screens/EventsPage/mans.astro'
import { ShowForm } from '@widgets/Screens/ShowManForm/index'

import styles from './styles/Events/styles.module.scss'
import '@shared/styles/scrollbar.scss'
---

<Layout title="Events">
	<Loader client:load />
	<Cursor client:load />
	<main class={styles.container} id="main">
		<Header client:load />
		<EventsPage />
	</main>
	<Mans />
	<ShowForm />
	<Footer />
</Layout>
