---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu/index'

import Footer from '@features/Footer/index.astro'
import EventsPage from '@widgets/Screens/EventsPage/index.astro'
import Layout from '../layouts/Layout.astro'
import { Form } from '@widgets/Screens/ContactForm/index'
import Mans from '@widgets/Screens/EventsPage/mans.astro'
import { ShowForm } from '@widgets/Screens/ShowManForm/index'
import Reviews from '@widgets/Screens/EventsPage/Reviews/index.astro'
import ServiceEventBlock from '@features/SeviceEventBlock/index.astro'

import styles from './styles/Events/styles.module.scss'
import '@shared/styles/scrollbar.scss'
---

<Layout
	title="Ивенты"
	description="Откройте для себя захватывающие события от Showtime - вашего проводника в мире мафии и азартных игр! Наши ивенты предлагают уникальные возможности для вас и ваших друзей или коллег насладиться атмосферой интриги, стратегии и веселья. Независимо от того, выходите ли вы на сцену в онлайн-матчах или предпочитаете живые встречи и турниры, у нас есть что-то для каждого. Откройте для себя новые мафиозные навыки, встречайте единомышленников и создавайте незабываемые впечатления вместе с нами. Просматривайте наш календарь событий и присоединяйтесь к нам на следующем мероприятии! Вас ждут увлекательные приключения и незабываемые впечатления в мире Showtime."
>
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.container} id="events">
		<Header client:load />
		<EventsPage />
	</main>
	<Mans />
	<ServiceEventBlock />
	<Reviews />
	<ShowForm />
	<Footer to="events" />
</Layout>
