---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import { Menu } from '../features/Menu/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import HistoryPage from '../widgets/Screens/HistoryPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/History/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	title="История"
	image={Logo}
	description="Откройте страницу истории компании Showtime и узнайте о нашем пути к успеху! С самого начала нашей деятельности мы стремились создать уникальное пространство, где любители мафии и азартных игр могли бы встретиться, обмениваться опытом и наслаждаться увлекательными развлечениями. Наша компания была основана на принципах качества, инноваций и открытости, что помогло нам стать лидерами в своей области. Мы гордимся тем, что предлагаем разнообразные игровые события, способствующие развитию командной работы, стратегического мышления и социальных навыков. Наша история - это история страсти, преданности и стремления к совершенству. Присоединяйтесь к нам и станьте частью нашего захватывающего путешествия в мире Showtime!"
>
	<Menu client:load />
	<Loader client:load />
	<Cursor client:load />
	<main class={styles.main} id="history">
		<Header client:load />
		<HistoryPage />
	</main>
	<Form client:visible />
	<Footer to="history" />
</Layout>
