---
import { Header } from "@features/Header/index";
import Paragraph from "@shared/ui/Paragraph/index.astro";

import Layout from "../layouts/Layout.astro";

import styles from "./styles/home/styles.module.scss";
---

<Layout title="Home">
  <main class={styles.main}>
    <Header client:load />
    <div class={styles.main__container}>
      <h1 class={styles.main__container__heading}>
        MAFIA CLUB <br />
        <span class="text-primary-light font-katana">SHOWTIME ALMATY</span>
      </h1>
      <div class={styles.main__container__paragraphs}></div>
    </div>
  </main>
</Layout>
