---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import { Menu } from '@features/Menu/index'

import HomeScreen from '@widgets/Screens/HomePage/Main/index.astro'
import AboutScreen from '@widgets/Screens/HomePage/About/index.astro'
import ServicesScreen from '@widgets/Screens/HomePage/Services/index.astro'
import Gallery from '@widgets/Screens/GalleryPage/gallery.astro'
import TimetableScreen from '@widgets/Screens/HomePage/TimeTable/index.astro'
import RulesScreen from '@widgets/Screens/HomePage/Rules/index'
import AppScreen from '@widgets/Screens/HomePage/App/index.astro'
import Rating from '@widgets/Screens/HomePage/Rating/index.astro'
import Footer from '@features/Footer/index.astro'
import { cards } from '@shared/lib/content/cardContent'
import Layout from '../layouts/Layout.astro'

import styles from './styles/home/styles.module.scss'
import '@shared/styles/scrollbar.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	title="Главная"
	image={Logo}
	description="Добро пожаловать на главную страницу Showtime - вашего виртуального азартного клуба, где каждый может найти что-то по своему вкусу! У нас вы найдете широкий выбор игр, событий и историй, чтобы погрузиться в мир интриги, азарта и веселья. Независимо от того, вы новичок или опытный игрок, у нас есть что-то для вас. Играйте в мафию онлайн с друзьями, присоединяйтесь к нашим ивентам для незабываемых впечатлений, читайте увлекательные истории о мафиозных приключениях и многое другое. Присоединяйтесь к нашему сообществу и окунитесь в мир Showtime уже сегодня!"
>
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.main} id="main">
		<Header client:load />
		<HomeScreen />
	</main>
	<AboutScreen />
	<Gallery />
	<ServicesScreen />
	<TimetableScreen />
	<RulesScreen cards={cards} client:visible />
	<AppScreen />
	<Rating />
	<Form client:visible />
	<Footer to="main" />
</Layout>
