---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import { Menu } from '@features/Menu/index'

import HomeScreen from "@widgets/Screens/HomePage/Main/index.astro";
import AboutScreen from "@widgets/Screens/HomePage/About/index.astro";
import ServicesScreen from "@widgets/Screens/HomePage/Services/index.astro";
import Gallery from "@widgets/Screens/GalleryPage/gallery.astro";
import TimetableScreen from "@widgets/Screens/HomePage/TimeTable/index.astro";
import RulesScreen from "@widgets/Screens/HomePage/Rules/index.astro";
import AppScreen from "@widgets/Screens/HomePage/App/index.astro";
import Rating from '@widgets/Screens/HomePage/Rating/index.astro'
import Footer from "@features/Footer/index.astro";

import Layout from '../layouts/Layout.astro'

import styles from './styles/home/styles.module.scss'
import '@shared/styles/scrollbar.scss'
---

<Layout title="Home">
  <Loader client:load />
  <Cursor client:load />
  <Menu client:load />
  <main class={styles.main} id="main">
    <Header client:load />
    <HomeScreen />
  </main>
  <AboutScreen />
  <Gallery />
  <ServicesScreen />
  <TimetableScreen />
  <RulesScreen />
  <AppScreen />
  <Rating/>
  <Form client:visible />
  <Footer />
</Layout>
