---
import Layout from '../layouts/Layout.astro';
import Header from '../features/Header/Header.astro'
---

<Layout title="ShowTime">
</Layout>
<body>
    <Header />
</body>
<main>
</main>

<style>
	main {
	}
</style>
