---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu'
import { Form } from '@widgets/Screens/ContactForm/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import PartnersPage from '../widgets/Screens/PartnersPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	image={Logo}
	title="Партнеры"
	description="Ознакомьтесь с нашими партнерами - надежными союзниками Showtime в мире развлечений и азарта! Мы гордимся нашими партнерскими отношениями, которые помогают нам предоставлять нашим игрокам лучшие возможности для увлекательного времяпровождения. Наши партнеры включают в себя ведущие компании в индустрии игр и развлечений, которые разделяют наши ценности и стремления. Благодаря нашему партнерству, мы можем предложить нашим игрокам широкий выбор игр, событий и эксклюзивных предложений. Присоединяйтесь к нашему сообществу и наслаждайтесь преимуществами наших партнерских отношений на Showtime!"
>
	<Menu client:load />
	<Cursor client:load />
	<Loader client:load />
	<main class={styles.main} id="main">
		<Header client:load />
		<PartnersPage />
	</main>
	<Form client:visible />
	<Footer to="main" />
</Layout>
