---
import { Cursor } from "@shared/ui/Cursor/index";
import { Header } from "@features/Header/index";
import Layout from "../layouts/Layout.astro";
import ProductsPage from '@widgets/Screens/ProductsPage/Products/products.astro'

import styles from '@pages/styles/Products/styles.module.scss'
---

<Layout title="Products">
  <Cursor client:load />
  <div class={styles.main}>
    <Header client:load />
    <ProductsPage/>
  </div>
</Layout>