---
import { Cursor } from '@shared/ui/Cursor/index'
import { Header } from '@features/Header/index'
import { Loader } from '@shared/ui/Loader'
import { Menu } from '@features/Menu'

import Layout from '../layouts/Layout.astro'
import ProductsPage from '@widgets/Screens/ProductsPage/Products/products.astro'
import { Form } from '@widgets/Screens/ContactForm/index'
import Footer from '@features/Footer/index.astro'

import styles from '@pages/styles/Products/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	image={Logo}
	title="Онлайн магазин"
	description="Добро пожаловать в Онлайн Магазин Showtime - ваш идеальный источник атрибутики для игры в мафию. От эксклюзивных колод карт до стильной одежды и уникальных аксессуаров, наш магазин предлагает всё, что может понадобиться для погружения в атмосферу любимой игры. Каждый товар в нашем ассортименте специально разработан для фанатов Мафии, обеспечивая не только высокое качество, но и оригинальный дизайн. Повысьте свой игровой опыт, добавив в коллекцию уникальные предметы, которые также станут отличным подарком для единомышленников. Откройте для себя наш широкий выбор товаров и найдите идеальные аксессуары, которые привнесут новые эмоции в вашу игру в мафию. Покупайте с уверенностью в Онлайн Магазине Showtime, где качество и удовольствие от игры стоят на первом месте."
>
	<Cursor client:load />
	<Loader client:load />
	<Menu client:load />
	<div class={styles.main} id="main">
		<Header client:load />
		<ProductsPage />
		<Form client:load />
		<Footer to="main" />
	</div>
</Layout>
