---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import RatingTab from '@entities/Tab_Components/RatingTab/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import { rating } from '@shared/lib/content/ratingContent'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'
---

<Layout title="Рейтинг">
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.main} id="rating-list">
		<Header client:load />
		<section class={styles.rating_screen} id="timetable">
			<h6 class="m-auto text-primary-red">Рейтинг</h6>
			<Paragraph
				text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
				align="text-center"
				paragraphType="white"
				width="25%"
			/>
			<RatingTab rating={rating} />
		</section>
	</main>
	<Form client:visible />
	<Footer to="rating-list" />
</Layout>
