---
import Input from "../shared/ui/Input/index.astro";
import styles from "../pages/styles/Registration/styles.module.scss"
import Layout from "../layouts/Layout.astro";
---



<Layout>
	<section class={styles.registration}>
        <div class={styles.registration__content}>

        <Input 
  placeholder="Имя"
  inputType="default"
/>
</div>
	</section>
</Layout>




