---
import Input from "../shared/ui/Input/index.astro";
import styles from "../pages/styles/Registration/styles.module.scss"
---



<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
        <Input 
  placeholder="Имя"
  inputType="default"
/>
	</body>
</html>




