---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import RulesPage from '../widgets/Screens/RulesPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'
---

<Layout title="Правила работы">
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.main} id="rules">
		<Header client:load />
		<RulesPage />
	</main>
	<Form client:visible />
	<Footer to="rules" />
</Layout>
