---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import RulesPage from '../widgets/Screens/RulesPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'
---

<Layout
	title="Правила работы"
	description="Добро пожаловать на страницу правил работы в компании Showtime! Здесь вы найдете ключевые принципы, которые руководят нашей деятельностью и создают основу для успешного сотрудничества. Мы ценим прозрачность, честность и уважение к каждому члену нашей команды и нашим партнерам. Наши правила созданы для того, чтобы обеспечить эффективную работу, справедливое обращение и взаимопонимание между всеми участниками нашей компании. Пожалуйста, ознакомьтесь с нашими правилами и руководствуйтесь ими во всех ваших действиях. Благодарим вас за ваше сотрудничество и вклад в успех нашей команды на Showtime!"
>
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.main} id="rules">
		<Header client:load />
		<RulesPage />
	</main>
	<Form client:visible />
	<Footer to="rules" />
</Layout>
