---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu'
import { Form } from '@widgets/Screens/ContactForm/index'
import ServicesScreen from '@widgets/Screens/ServicesPage/Services/index.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import ServiceEventBlock from '@features/SeviceEventBlock/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	title="Мероприятия"
	description="Игра в мафию - уникальное предложение для вашего корпоратива или тимбилдинга! Организуйте захватывающие мероприятия с нашей командой профессионалов. Насладитесь атмосферой интриги и стратегических ходов, погрузившись в мир таинственности и развлечений. Проведите незабываемое время с коллегами, раскрывая секреты мафиозного мира и укрепляя командный дух. Корпоративные выездные мафии и тимбилдинги - это идеальный способ сделать ваше мероприятие запоминающимся и продуктивным."
>
	<Cursor client:load />
	<Loader client:load />
	<Menu client:load />
	<main class={styles.main} id="services">
		<Header client:load />
		<!-- <ServicesScreen /> -->
		<ServiceEventBlock />
	</main>
	<Form client:visible />
	<Footer to="services" />
</Layout>
