---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import ShowMansPage from '../widgets/Screens/ShowMansPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	title="Ведущие"
	description="Представляем наших ведущих в игре в мафию на Showtime! Наши опытные и профессиональные ведущие обеспечат вам захватывающие и незабываемые игровые сессии, наполненные интригой, стратегией и весельем. Каждый из наших ведущих обладает уникальным стилем и подходом, чтобы создать атмосферу, идеально подходящую для вашего мероприятия или онлайн-игры. Независимо от того, выходите ли вы на сцену впервые или являетесь опытным игроком, наши ведущие помогут вам ощутить всю атмосферу мафиозного мира. Присоединяйтесь к нам на Showtime и погрузитесь в игру в мафию под руководством наших лучших ведущих!"
>
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.main} id="showmans">
		<Header client:load />
		<ShowMansPage />
	</main>
	<Form client:visible />
	<Footer to="showmans" />
</Layout>
