---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import { Menu } from '../features/Menu/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import TournamentsPage from '@widgets/Screens/TournamentsPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/History/styles.module.scss'

import Logo from '@assets/logo/logo.png'
---

<Layout
	title="Турниры"
	image={Logo}
	description="Узнайте о предстоящих турнирах и играх в мафию на Showtime! Мы постоянно обновляем наш график событий, чтобы предложить вам самые захватывающие и увлекательные игровые опыты. Присоединяйтесь к нашим турнирам и соревнованиям, чтобы испытать свои навыки и соревноваться за крупные призы. У нас вы найдете разнообразные форматы игр, включая как онлайн-турниры, так и оффлайн мероприятия, подходящие для всех уровней игроков. Подготовьтесь к новым вызовам, объединяйтесь с друзьями и готовьтесь к незабываемым впечатлениям в мире мафии на Showtime!"
>
	<Menu client:load />
	<Loader client:load />
	<Cursor client:load />
	<main class={styles.main} id="tournaments">
		<Header client:load />
		<TournamentsPage />
	</main>
	<Form client:visible />
	<Footer to="tournaments" />
</Layout>
