---
import { Header } from '@features/Header/index'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import { Menu } from '@features/Menu/index'
import { Form } from '@widgets/Screens/ContactForm/index'
import Layout from '../layouts/Layout.astro'
import Footer from '@features/Footer/index.astro'
import VacanciesPage from '../widgets/Screens/VacanciesPage/index.astro'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'
---

<Layout
	title="Вакансии"
	description="Ищем талантливых людей для работы в команде Showtime! На странице вакансий вы найдете актуальные возможности для присоединения к нашей дружной и профессиональной команде. Мы предлагаем разнообразные позиции в области разработки игр, маркетинга, клиентского обслуживания и многих других. Если вы готовы принять вызов и внести свой вклад в наш успех, мы будем рады видеть вас в нашей команде. Посмотрите наши открытые вакансии и отправьте свое резюме, чтобы начать свой путь к карьере в индустрии развлечений с Showtime!"
>
	<Loader client:load />
	<Cursor client:load />
	<Menu client:load />
	<main class={styles.main} id="vacancies">
		<Header client:load />
		<VacanciesPage />
	</main>
	<Form client:visible />
	<Footer to="vacancies" />
</Layout>
