---
import VideoRoom from '@widgets/Screens/WebRoom'
import Layout from 'src/layouts/Layout.astro'
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from './styles/services/styles.module.scss'

---

<Layout title="Игра">
	<Cursor client:load />
	<!-- <Loader client:load /> -->
	<main class="h-full w-full bg-primary-dark">
		<VideoRoom client:load />
	</main>
</Layout>
