---
import DefaultButton from '@shared/ui/Buttons/DefaultButton/index.astro'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import PhotoCard from '@entities/Card_Components/PhotoCard/index.astro'
import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<section class={`${'bg-primary-dark'} ${styles.container}`}>
	<div class="m-auto mt-48 w-[86.6%]">
		<div class="mt-8 flex justify-end">
			<h3 class="text-primary-red">Новости</h3>
		</div>
		<span class="flex justify-end">
			<Paragraph
				paragraphType="white"
				width="30%"
				align="text-right"
				text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore."
			/>
		</span>
		<div class="m-auto flex w-full justify-between pt-16">
			<PhotoCard
				time={'23.02.24'}
				heading="Lorem Ipsum"
				paragraph="Lorem Ipsum Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
			/>
			<PhotoCard
				time={'23.02.24'}
				heading="Lorem Ipsum"
				paragraph="Lorem Ipsum Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
			/>
			<PhotoCard
				time={'23.02.24'}
				heading="Lorem Ipsum"
				paragraph="Lorem Ipsum Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
			/>
		</div>
	</div>
</section>

<section class={`${'bg-primary-dark'} ${styles.container_mob}`}>
	<div class="m-auto flex flex-col items-center pt-16">
		<h4 class="text-primary-red">Новости</h4>
		<div class="mt-8 flex flex-col items-center gap-10">
			<PhotoCard
				time={'23.02.24'}
				heading="Lorem Ipsum"
				paragraph="Lorem Ipsum Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
			/>
			<PhotoCard
				time={'23.02.24'}
				heading="Lorem Ipsum"
				paragraph="Lorem Ipsum Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
			/>
			<DefaultButton margin="mt-4" text="Все новости" buttonType="transparent" />
		</div>
	</div>
</section>
