---
import styles from "./styles.module.scss";
import TimetableCard from "@entities/TimetableCard/index.astro";
---

<section class={styles.timetable_screen}>
  <div class={styles.timetable_screen__container}>
    <h5 class="text-primary-red">Расписание</h5>
    <div class="items-center space-evenly"></div>
  </div>
</section>

<style></style>
