.container {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.photo {
  // width: clamp(420px, 43.7472vw, 1680px);
  overflow: hidden;
  // box-shadow: 16px 16px 0px 0px #f0e7be;
}

.gallery_nav {
  // left: clamp(15px, 1.5624vw, 60px);
  // top: clamp(140px, 14.5824vw, 560px);
  left: 10px;
  position: absolute;
  display: flex;
  align-items: center;
}
