.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.gallery-nav {
  display: flex;
  justify-content: space-between;
}

.photo {
  width: 847px;
  height: 573;
  box-shadow: 16px 16px 0px 0px #f0e7be;
}

.previous,
.next {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
