.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.gallery_nav {
  left: clamp(15px, 1.5624vw, 60px);
  top: clamp(140px, 14.5824vw, 560px);
  position: absolute;
  display: flex;
  align-items: center;
}
