.card {
	width: clamp(200px, 20.832vw, 800px);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: flex-start;
	@apply p-4;
	@apply bg-primary-light;

	&__upper {
		width: 100%;
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: space-between;

		&__date,
		&__time {
			@apply text-2xl;
			overflow: hidden;
			@apply font-katana;
			@apply text-primary-red;
		}
	}

	&__heading {
		@apply text-4xl;
		overflow: hidden;
		@apply font-killbill;
		@apply text-primary-red;
		@apply mt-4;
	}

	&__address {
		@apply text-2xl;
		@apply mt-4;
		@apply font-neoregular;
		@apply text-primary-red;
	}

	&__icon {
		@apply text-primary-red;
		@apply text-3xl;
	}

	&__link {
		@apply underline;
		@apply text-primary-red;
		@apply font-neo;
		transition: 0.3s all;
		&:hover {
			@apply text-red-600;
		}
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.card {
		width: clamp(150px, 70.092vw, 600px);
	}
}
