.video {
	width: clamp(210px, 21.8736vw, 840px);
	height: clamp(157.5px, 16.4052vw, 630px);
	overflow: hidden;
	border-radius: 6px;
	position: relative;
	&__container {
		display: flex;
	}
	&__number {
		position: absolute;
		@apply bottom-2 left-4;
		font-weight: 600;
		width: clamp(15px, 1.5624vw, 60px);
		height: clamp(15px, 1.5624vw, 60px);
		@apply bg-primary-light;
		@apply text-primary-dark;
		border-radius: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__name {
		position: absolute;
		@apply text-primary-red;
		@apply bottom-2 left-12;
		@apply font-killbill;
	}
}
