.client {
	@apply mb-28;
	@apply mt-16;
}

.slide {
	width: auto !important;
}

.swiper {
	width: 200%;
	position: relative;
	@apply mb-8;
}
.client_mob {
	display: none;
}
.swiper_mob {
	display: none;
}
@media (min-width: 375px) and (max-width: 600px) {
	.client {
		display: none;
	}

	.client_mob {
		display: flex;
		width: 600%;
		margin: auto;
	}
	.swiper_mob {
		display: flex;
		width: 500%;
		@apply mb-1;
	}
}
