---
import { Icon } from 'astro-icon/components';
import styles from "./styles.module.scss";

export interface Props {
  margin?: string;
  inputType: string | "default" | "password";
  placeholder: string;
  type: string;
}

const { margin, inputType, type, ...rest } = Astro.props;
const inputClass = `${styles.input} ${styles[`input--${inputType}`]} ${margin ? margin : ""}`;

---

<div class="relative">
  <input id="password-input" class={inputClass} {...rest} required  />
  {inputType === 'password' ? (
    <Icon  id="toggle-icon" name={`mdi:eye`} class={styles.icon} />
  ) : ''}
</div>

<script src="src/scripts/togglePasswordVisibility.ts"   type="module">
</script>



