.about_screen {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../assets/Main/concrete-texture.webp");
  background-position: center center;
  background-size: cover;
  @apply bg-primary-light;

  &__container {
    width: 86.6%;
    height: auto;
    display: flex;
    flex-direction: column;
    @apply mt-16;
    @apply mb-16;

    &__upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
