---
import Paragraph from '../../../shared/ui/Paragraph/index.astro';
import VacanciesCard from "../../../entities/VacanciesCard/index";

import '@shared/styles/global.scss';
import styles from "./styles.module.scss";

---

<main class={styles.client}>
    <div class={styles.client__content}>
    <h1 class="text-primary-red mt-32">Вакансии</h1>
    <Paragraph paragraphType='white' width='23%' text='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' margin='mt-16'/>
    <div class={styles.client__content_cards}>
        <VacanciesCard  number="01" name='Lorem' paragraph='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' />
        <VacanciesCard  number="02" name='Lorem' paragraph='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' />
        <VacanciesCard  number="03" name='Lorem' paragraph='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' />
        <VacanciesCard  number="04" name='Lorem' paragraph='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' />
        <VacanciesCard  number="05" name='Lorem' paragraph='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' />
        <VacanciesCard  number="06" name='Lorem' paragraph='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. ' />
    </div>
 </div>
</main>