.lobby_tab {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s all;
	@apply bg-primary-light;
	@apply p-4;
	@apply rounded-md;
	@apply mt-4;

	&:hover {
		@apply bg-primary-red;
		@apply text-primary-light;
	}

	&:hover &__text {
		@apply text-primary-light;
	}

	&__text {
		@apply text-2xl;
		@apply text-primary-red;
		@apply font-neoregular;
		transition: 0.3s all;

		&__type {
			display: flex;
			align-items: center;
			justify-content: center;
			@apply bg-primary-red;
			@apply text-primary-light;
			@apply p-2;
		}
	}

	&__button {
		@apply pl-16;
		@apply pr-16;
		@apply pt-2;
		@apply pb-2;
		@apply rounded-md;
		@apply bg-primary-red;
		@apply text-primary-light;
		@apply font-neoregular;
		transition: 0.3s all;

		&:hover {
			cursor: none;
			@apply bg-primary-hovered;
		}
	}
}
