.user_screen {
  width: 100vw;
  height: 100vh;
  @apply bg-primary-dark;

  &__container {
    width: 86.6%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &__bg {
    width: 990px;
    height: 100%;
    position: absolute;
    left: -200px;
    z-index: 0;
  }
}
