.help_card {
  width: clamp(300px, 31.248vw, 1200px);
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  @apply rounded-md;
  @apply bg-primary-light;
  @apply p-8;

  &__heading {
    width: 70%;
    @apply text-3xl;
    @apply font-killbill;
    @apply text-primary-red;
  }

  &__paragraph {
    width: 60%;
    @apply mt-4;
    @apply text-xl;
    @apply text-primary-dark;
    @apply font-neoregular;
  }

  &__close {
    transition: 0.3s all;
    @apply text-3xl;
    @apply text-primary-red;
    &:hover {
      @apply text-red-500;
    }
  }

  &__link {
    transition: 0.3s all;
    @apply text-lg;
    @apply text-primary-red;
    @apply underline;
    @apply font-neoregular;
    @apply mt-4;
    &:hover {
      @apply text-red-500;
    }
  }
}
