.counter_container {
  width: 100%;
  @apply font-killbill;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  @apply text-primary-red;
  margin-top: clamp(16px, 1.66656vw, 64px);

  &__counter {
    font-size: clamp(50px, 5.208vw, 200px);
    font-style: normal;
    font-weight: 800;
    line-height: 141.412%;
    @apply text-primary-red;
    overflow-y: hidden;
  }

  &__text {
    font-size: clamp(50px, 5.208vw, 200px);
    font-weight: 800;
    @apply text-primary-red;
    overflow-y: hidden;
  }
}

.paragraph {
  @apply text-primary-light;
  @apply font-neolight;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-weight: 400;
  line-height: clamp(13.52px, 1.4082432vw, 54.08px);
  overflow-y: hidden;
}

@media (min-width: 375px) and (max-width: 600px) {
  .counter_container {
    &__counter {
      font-size: clamp(30px, 14.0184vw, 120px);
    }
  }
  .paragraph {
    font-size: clamp(9px, 4.20552vw, 36px);
    line-height: clamp(12.5px, 5.840999999999999vw, 50px);
    font-weight: 600;
  }
}
