---
import Paragraph from "@shared/ui/Paragraph/index.astro";
import Button from "@shared/ui/Buttons/NavigationButton/index.astro";
import iphone from "@assets/Main/iphone.webp";
import styles from "./styles.module.scss";
---

<section class={styles.app_screen}>
  <div class={styles.app_screen__container}>
    <div class="flex flex-col items-start">
      <h6 class="text-primary-red">IOS & Android</h6>
      <Paragraph
        width="50%"
        paragraphType="white"
        margin="mt-8"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore."
      />
      <Paragraph
        width="50%"
        paragraphType="white"
        margin="mt-8"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore."
      />
      <Button
        text="Подробнее"
        buttonType="transparent"
        margin="mt-8"
        href="/ios"
      />
    </div>
    <img
      src={iphone.src}
      class={styles.app_screen__container__image}
      alt="iphone"
    />
  </div>
</section>
