.shop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: -1000px;
  display: flex;
  flex-direction: column;
  @apply bg-primary-dark;

  &__upper {
    width: 86.6%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    margin: auto;
    @apply mt-16;

    &__icon {
      @apply text-5xl;
      @apply text-primary-red;
      transition: 0.3s all;
      &:hover {
        @apply text-red-500;
      }
    }

    &__heading {
      font-size: clamp(30px, 3.1248vw, 120px);
      @apply text-primary-light;
      @apply font-killbill;
    }
  }

  &__section {
    width: 86.6%;
    display: flex;
    margin: auto;
    flex-direction: column;

    &__heading {
      font-size: clamp(24px, 2.49984vw, 96px);
      @apply text-primary-red;
      @apply font-killbill;
    }
  }
}
