.marqueeContainer {
	overflow: hidden;
	width: 100%;
}

.marquee {
	@apply mt-24;
	display: flex;
	animation: marquee-animation 3s linear infinite;
}

.item {
	margin-right: clamp(100px, 10.416vw, 400px);
}

@keyframes marquee-animation {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.item {
	}
	.img {
		width: clamp(150px, 15.624vw, 600px);
		height: clamp(100px, 10.416vw, 400px);
	}
}
@media (min-width: 375px) and (max-width: 600px) {
	.img {
		width: clamp(150px, 15.624vw, 600px);
		height: clamp(100px, 10.416vw, 400px);
	}
}
