.panel {
	background-color: #1a1a1a;
	width: clamp(135px, 14.0616vw, 540px);
	height: 100vh;

	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;

		&_card {
			@apply mt-12;
		}

		&_logo {
			@apply m-6;
		}
	}
}
