---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import RatingTab from '@entities/Tab_Components/RatingTab/index'
import DefaultButton from '@shared/ui/Buttons/LinkReactButton/index'
import { rating } from '@shared/lib/content/ratingContent'

import '@shared/styles/global.scss'
import styles from './styles.module.scss'
---

<section class={styles.rating_screen} id="timetable">
	<h6 class="m-auto text-primary-red">Рейтинг</h6>
	<Paragraph
		text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
		align="text-center"
		paragraphType="white"
		width="25%"
	/>
	<RatingTab rating={rating} />
	<DefaultButton
		buttonType="filled"
		text="Подробнее"
		href="ratinglist"
		margin="mt-14"
		client:load
	/>
</section>

<section class={styles.rating_mob_screen} id="timetable">
	<h6 class="m-auto text-primary-red">Рейтинг</h6>
	<Paragraph
		text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
		align="text-center"
		paragraphType="white"
		width="75%"
	/>
	<RatingTab rating={rating} />
</section>
