---
import SwiperReview from '@features/Swiper_Components/Swiper/index'
import { reviews } from '@shared/lib/content/reviewContent'

import Paragraph from '@shared/ui/Paragraph/index.astro'
import { ReviewCard } from '@entities/Card_Components/ReviewCard/index'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<section class={`${'bg-primary-dark'} ${styles.container}`}>
	<div class="m-auto mb-16 w-[86.6%]">
		<div class="mt-16 flex items-center justify-evenly gap-10">
			<SwiperReview reviews={reviews} client:load />
		</div>
	</div>
</section>
<section class={`${'bg-primary-dark'} ${styles.container_mob}`}>
	<div class="mt-12 flex flex-col items-center">
		<h3 class="text-primary-red">Отзывы</h3>
		<Paragraph
			align="text-center"
			margin="mt-4"
			paragraphType="white"
			width="75%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua."
		/>
		<div class="mt-8 flex flex-col items-center gap-10">
			<ReviewCard
				time="09.12.23"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
				name="Ruslan Makhmatov"
			/>
			<ReviewCard
				time="09.12.23"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  Lorem ipsum dolor  sit amet, consectetur adipiscing elit,"
				name="Artem Andreev"
			/>
		</div>
	</div>
</section>
