
---
import Revolver from "@shared/ui/Icons/Revolver/index";

import styles from "./styles.module.scss";

interface Props {
  buttonType: "gallery" ;
  margin?: string;
  type?: string;
}

const {  margin, buttonType, type, ...rest } = Astro.props;

const buttonClass = `${styles.button} ${styles[buttonType]} ${margin ? margin : ""}`;
---

<button class={buttonClass} {...rest}>
  <Revolver/>
</button>

