.client {
	display: flex;
	flex-direction: column;
	align-items: center;
	@apply mb-32;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 20px; /* Расстояние между кнопками и слайдером */
}

.swiper {
	width: 100%;
}

.slide {
	/* Можно добавить стилизацию для слайдов, если нужно */
}
