.client {
	display: flex;
	flex-direction: column;
	align-items: center;
	@apply mb-32;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.swiper {
	// width: 100%;
	position: relative;
	@apply mt-8;
}

.slide {
	width: auto !important;
}

@media (min-width: 375px) and (max-width: 600px) {
	.client {
		display: flex;
		margin-left: clamp(1075px, 502.32599999999996vw, 4300px);
	}

	.swiper {
		width: 39%;
	}

	.buttons {
		display: none;
	}
}
