.dropdown {
  width: clamp(175px, 18.228vw, 700px);
  max-height: clamp(75px, 7.812vw, 300px);
  position: absolute;
  z-index: 1000;
  @apply bg-primary-dark;

  &__items {
    overflow-y: auto;
    transition: 0.3s all;
    @apply text-base;
    @apply p-2;
    @apply bg-primary-light;
    &:hover {
      @apply bg-primary-red;
      @apply text-primary-light;
    }
  }
}
