.dropdown {
	width: clamp(150px, 15.624vw, 600px);
	max-height: clamp(75px, 7.812vw, 300px);
	position: absolute;
	z-index: 1000;
	@apply bg-primary-dark;

	&__items {
		overflow-y: auto;
		transition: 0.3s all;
		@apply text-base;
		@apply p-2;
		@apply bg-primary-light;
		&:hover {
			@apply bg-primary-red;
			@apply text-primary-light;
		}
	}
}

@media (min-width: 375px) and (max-width: 600px) {
	.dropdown {
		width: clamp(147.5px, 68.9238vw, 590px);
		left: clamp(33.5px, 15.65388vw, 134px);
	}
}
