.container {
	width: 86.6%;
	height: 45vw;
	margin: auto;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__heading {
		@apply text-left text-primary-red;
		line-height: clamp(70px, 7.2912vw, 280px);
		@apply mt-16;
	}

	&__photo {
		margin: 0 16px 16px 0;
		width: 200%;
		box-shadow: 16px 16px 0px 0px #f0e7be;
	}
}

.mans {
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	@apply bg-primary-dark;
	&__items {
		@apply m-auto;
		@apply overflow-hidden;
		width: 86.6%;
	}
}

.mans_mob {
	display: none;
}

.container_mob {
	display: none;
}

@media (min-width: 375px) and (max-width: 600px) {
	.mans {
		display: none;
	}

	.mans_mob {
		display: flex;
		height: auto;
		@apply bg-primary-dark;
		&__items {
			width: 90%;
			margin: auto;
			display: flex;
			flex-direction: column;
			@apply pt-12;
		}
		&__slider {
			@apply mt-16;
		}
	}

	.container {
		display: none;
	}

	.container_mob {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: auto;
		&__items {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__heading {
			@apply text-primary-red;
			width: 80%;
			text-align: center;
			@apply mt-16;
			line-height: clamp(35px, 16.354799999999997vw, 140px);
		}
	}
}
