---
import SwiperReview from '@shared/ui/Swiper/index';
import { reviews } from '@shared/ui/Swiper/index';
import Paragraph from '@shared/ui/Paragraph/index.astro'
import ReviewCard from '@entities/ReviewCard';

import '@shared/styles/global.scss'

const zhopa = {

    time: '123',
}

---

<section class="w-[86.6%]">
    <h1 class="text-primary-red">Продукция</h1>
    <Paragraph paragraphType='white' width='23%' text='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. '/>
    <div class="">
        
    </div>
</section>