.main {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  @apply bg-primary-dark;
  border: 1px solid;
  @apply border-primary-dark;
  cursor: none;
}
