.control_button {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__icon {
		@apply text-primary-light;
		@apply text-2xl;
		transition: 0.3s all;
		&:hover {
			@apply text-primary-red;
		}
	}

	&__text {
		@apply text-white;
	}
}
