---
interface Props {
	title: string
	description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>О компании | Showtime Мафия - Играйте и Стройте Стратегии с Друзьями!</title>
		<meta
			name="description"
			content="Откройте для себя Showtime - ведущего эксперта в области организации захватывающих корпоративных мероприятий и тимбилдингов с использованием платформы онлайн игры Мафия. Наша компания преобразует классическую игру в инструмент для укрепления командного духа и развития ключевых профессиональных навыков. В Showtime мы гордимся нашим инновационным подходом к ивент-менеджменту, создавая незабываемые впечатления, которые способствуют коммуникации, стратегическому планированию и коллективной работе. Мы предлагаем широкий спектр услуг от виртуальных тимбилдингов до масштабных корпоративных мероприятий, каждое из которых адаптировано под уникальные потребности наших клиентов. Позвольте Showtime стать вашим партнёром в создании незабываемых моментов, укрепляющих командный дух и поддерживающих корпоративную культуру. Присоединяйтесь к нам для организации вашего следующего мероприятия и погрузитесь в мир Мафии, где каждое событие превращается в захватывающее приключение."
		/>

		<meta name="robots" content="index,follow" />
		<meta
			property="og:title"
			content="О компании | Showtime Мафия - Играйте и Стройте Стратегии с Друзьями!"
		/>
		<meta
			property="og:description"
			content="Откройте для себя Showtime - ведущего эксперта в области организации захватывающих корпоративных мероприятий и тимбилдингов с использованием платформы онлайн игры Мафия. Наша компания преобразует классическую игру в инструмент для укрепления командного духа и развития ключевых профессиональных навыков. В Showtime мы гордимся нашим инновационным подходом к ивент-менеджменту, создавая незабываемые впечатления, которые способствуют коммуникации, стратегическому планированию и коллективной работе. Мы предлагаем широкий спектр услуг от виртуальных тимбилдингов до масштабных корпоративных мероприятий, каждое из которых адаптировано под уникальные потребности наших клиентов. Позвольте Showtime стать вашим партнёром в создании незабываемых моментов, укрепляющих командный дух и поддерживающих корпоративную культуру. Присоединяйтесь к нам для организации вашего следующего мероприятия и погрузитесь в мир Мафии, где каждое событие превращается в захватывающее приключение."
		/>
		<meta property="og:url" content="https://samigroup.kz/about/" />
		<meta property="og:type" content="website" />
	</head>
	<body class="overflow-x-hidden">
		<slot />
	</body>
</html>
