---
interface Props {
	title: string
	description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Онлайн Магазин Showtime Мафия: Эксклюзивные Игровые Аксессуары и Мерч</title>
		<meta
			name="description"
			content="Добро пожаловать в Онлайн Магазин Showtime - ваш идеальный источник атрибутики для игры в мафию. От эксклюзивных колод карт до стильной одежды и уникальных аксессуаров, наш магазин предлагает всё, что может понадобиться для погружения в атмосферу любимой игры. Каждый товар в нашем ассортименте специально разработан для фанатов Мафии, обеспечивая не только высокое качество, но и оригинальный дизайн. Повысьте свой игровой опыт, добавив в коллекцию уникальные предметы, которые также станут отличным подарком для единомышленников. Откройте для себя наш широкий выбор товаров и найдите идеальные аксессуары, которые привнесут новые эмоции в вашу игру в мафию. Покупайте с уверенностью в Онлайн Магазине Showtime, где качество и удовольствие от игры стоят на первом месте."
		/>

		<meta name="robots" content="index,follow" />
		<meta
			property="og:title"
			content="Онлайн Магазин Showtime Мафия: Эксклюзивные Игровые Аксессуары и Мерч"
		/>
		<meta
			property="og:description"
			content="Добро пожаловать в Онлайн Магазин Showtime - ваш идеальный источник атрибутики для игры в мафию. От эксклюзивных колод карт до стильной одежды и уникальных аксессуаров, наш магазин предлагает всё, что может понадобиться для погружения в атмосферу любимой игры. Каждый товар в нашем ассортименте специально разработан для фанатов Мафии, обеспечивая не только высокое качество, но и оригинальный дизайн. Повысьте свой игровой опыт, добавив в коллекцию уникальные предметы, которые также станут отличным подарком для единомышленников. Откройте для себя наш широкий выбор товаров и найдите идеальные аксессуары, которые привнесут новые эмоции в вашу игру в мафию. Покупайте с уверенностью в Онлайн Магазине Showtime, где качество и удовольствие от игры стоят на первом месте."
		/>
		<meta property="og:url" content="https://samigroup.kz/products/" />
		<meta property="og:type" content="website" />
	</head>
	<body class="overflow-x-hidden">
		<slot />
	</body>
</html>
