---
import { Cursor } from '@shared/ui/Cursor/index'
import Layout from '../../layouts/Layout.astro'
import { Articles } from '@widgets/Screens/AdminPage/Articles'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from '../styles/History/styles.module.scss'
---

<Layout title="Статьи">
	<Cursor client:load />
	<main class={styles.main}>
		<Articles client:load />
	</main>
</Layout>
