---
import { Cursor } from '@shared/ui/Cursor/index'
import Layout from '../../layouts/Layout.astro'
import { Products } from '@widgets/Screens/AdminPage/Products/index'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from '../styles/History/styles.module.scss'
---

<Layout title="Продукты">
	<Cursor client:load />
	<main class={styles.main}>
		<Products client:load />
	</main>
</Layout>
