---
import { Cursor } from '@shared/ui/Cursor/index'
import { Loader } from '@shared/ui/Loader/index'
import Layout from '../../layouts/Layout.astro'
import { ShowmansList } from '@widgets/Screens/AdminPage/ShowmansList'

import '@shared/styles/global.scss'
import '@shared/styles/scrollbar.scss'

import styles from '../styles/History/styles.module.scss'
---

<Layout title="Список Услуг">
	<Cursor client:load />
	<main class={styles.main}>
		<ShowmansList client:load />
	</main>
</Layout>
