.review_card {
	width: clamp(405px, 42.1848vw, 1620px);
	height: clamp(225px, 23.436vw, 900px);
	display: flex;
	align-items: center;
	justify-content: center;
	@apply bg-primary-light text-primary-red;
	font-weight: 600;
	background-position: center center;
	background-repeat: no-repeat;
	@apply flex flex-col items-start p-4;
}

span {
	font-size: clamp(24px, 2.49984vw, 96px);
	@apply font-killbill;
	@apply text-primary-red;
}
.paragraph {
	width: 80%;
}

@media (min-width: 375px) and (max-width: 600px) {
	.review_card {
		display: flex;
		align-items: center;
		width: clamp(175px, 81.774vw, 700px);
		height: clamp(250px, 116.82vw, 1000px);
		font-size: clamp(14px, 6.541919999999999vw, 56px);
		@apply mb-6 mt-4;
	}
	.paragraph {
		font-size: clamp(9px, 4.20552vw, 36px);
		line-height: clamp(11.5px, 5.37372vw, 46px);
		margin: auto;
		width: 85%;
	}
	.name {
		font-size: clamp(25px, 11.681999999999999vw, 100px);
		margin-top: 0;
	}
	.data {
		@apply font-killbill;
		font-size: clamp(23px, 10.74744vw, 92px);
		@apply mt-4;
	}
}
