.bigtext--secondary {
  font-weight: 700;
  @apply text-primary-red;
  @apply font-killbill;
  font-size: clamp(60px, 6.2496vw, 240px);
}

.bigtext--about--card {
  @apply font-katana;
  @apply text-primary-light;
  font-weight: 700;
  font-size: clamp(22.5px, 2.3436vw, 90px);
}

.bigtext--about--card--red {
  @apply font-katana;
  @apply text-primary-red;
  font-weight: 700;
  font-size: clamp(22.5px, 2.3436vw, 90px);
}

.bigtext--services--card {
  @apply font-katana;
  @apply text-primary-light;
  font-weight: 700;
  font-size: clamp(24px, 2.49984vw, 96px);
}

.bigtext--form {
  @apply font-killbill;
  @apply text-primary-red;
  font-weight: 700;
  font-size: clamp(30px, 3.1248vw, 120px);
}
