.selector {
  width: clamp(150px, 15.624vw, 600px);
  height: clamp(27.5px, 2.8644000000000003vw, 110px);
  border: 1px solid;
  font-size: clamp(9px, 0.93744vw, 36px);
  @apply text-primary-red;
  @apply border-primary-red;
}
