.card {
  width: clamp(182.5px, 19.0092vw, 730px);
  height: clamp(232.5px, 24.217200000000002vw, 930px);
  background-image: url(../../assets/Main/card_bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 16px 16px 0px 0px #bf2316;
}
.white {
  @extend .card;
  background-image: none;
  @apply bg-primary-light text-primary-dark;
}
